<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="module" src="js/feed.js"></script>
    <link rel="icon" type="image/x-icon" href="img/logo.svg" />
    <link href="css/generalStructure.css" rel="stylesheet" />
    <link href="css/bootstrap2.css" rel="stylesheet" />
    <title>BigO!</title>
  </head>

  <body>

    <body>
      <nav>
        <div class="navbar__item navbar__item--left">
          <button class="navbar__button no-select" data-toggle="modal" data-target="#post">Adicionar postagem</button>
        </div>
        <div class="navbar__item">
          <div class="input-search-container">
            <input id="search" class="input--without-border">
            <img class="input__image" src="img/search.svg">
          </div>
        </div>
        <div class="navbar__item navbar__item--right">
          <div id="profile" class="profile-picture-container">
            <div class="profile-picture clickable">
              {{!-- <img src="img/profile-picture.svg"> --}}
              <img src={{usuario.foto}}>
            </div>
            <aside id="profile-popover" class="popover hidden">
              <div class="popover__top"></div>
              <div class="popover__body">
                <span id="profile-button" class="clickable no-select">Perfil</span>
                <hr class="popover__division">
                <span id="logout-button" class="clickable no-select">Sair</span>
              </div>
            </aside>
          </div>
        </div>
      </nav>
      <main class="feed-container">
        <section class="feed__item">
          {{!-- <div class="container-structure"></div> --}}
        </section>
        <section class="feed__item feed__item--central" data-type="post-container">
          {{#each publicacoes}}
            <form class="container-structure feed__post" data-type="post" data-title={{titulo}}>
              <img data-id="bookmark" class="feed__post-bookmark clickable no-select" src="img/bookmark.svg">
              <header class="feed__post-header">
                <div id="profile">
                  <div class="profile-picture clickable">
                    {{!-- <img src="img/profile-picture.svg"> --}}
                    <img src={{fotoUsuario}}>
                  </div>
                </div>
                <div>
                  <span class="feed__post-header--bold">{{nomeUsuario}}</span>
                  <br>
                  <span class="feed__post-header--light">Postado em {{dataPublicacao}}</span>
                </div>
                <div>
                </div>
              </header>
              <section class="feed__post-content">
                <h2 class="feed__post-content-title">{{titulo}}</h2>
                <p>{{descricao}}</p>
                {{!-- <img src="img/iajpeg.jpeg"> --}}
                <img src={{imagem}}>
              </section>
              <section class="container-structure feed__post-comments">
                <div class="feed__post-comments-area">
                  {{#each comentarios}}
                    <div class="feed__post-comments-item">
                      <div id="profile">
                        <div class="profile-picture clickable">
                          {{!-- <img src="img/profile-picture2.svg"> --}}
                          <img src={{fotoUsuario}}>
                        </div>
                      </div>
                      <div>
                        <span class="feed__post-header--bold">{{nomeUsuario}}</span>
                        <br>
                        <p>{{descricao}}</p>
                      </div>
                    </div>
                  {{/each}}
                  {{!-- <span class="clickable no-select feed__post-header--light show-more">Mostrar mais</span> --}}
                </div>
                <div class="feed__post-comments-add">
                  <input class="hidden" id="idPublicacao" name="idPublicacao" value={{id}}>
                  <textarea class="form-control" rows="3" placeholder="Adicione um comentário à postagem" id="descricao"
                    name="descricao" required></textarea>
                  <button class="button--call-to-action no-select" id="submit-comment">Publicar</button>
                </div>
              </section>
            </form>
          {{/each}}
        </section>
        <section class="feed__item"></section>
      </main>
    </body>

    <form action="/publish" method="post">
      <div id="post" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal__header">
              <button data-dismiss="modal" aria-label="Close">
                <img src="img/close.svg" alt="Fechar tela de login">
              </button>
            </div>
            <section class="modal__form-container">
              <h2>Adicionar publicação</h2>
              <div class="input-container">
                <label for="titulo">Titulo</label>
                <input id="titulo" class="input--text" type="text" name="titulo" required>
              </div>
              <div class="input-container">
                <label for="descricao">Descricao</label>
                <textarea id="descricao" name="descricao" required class="form-control" rows="3"></textarea>
              </div>
              {{!-- <label for="filtro">Assunto:</label>
              <select name="filtro" id="filtro">
                <option value="ia">IA</option>
                <option value="cg">Computação gráfica</option>
                <option value="pi">Processamento de imagens</option>
                <option value="pro">Programação</option>
              </select> --}}
              <form action="/action_page.php">
                <label for="img">Selecionar imagem:</label>
                <input type="file" id="img" name="imagem" accept="image/*">
              </form>
              <footer class="modal__form-footer">
                <button class="button--call-to-action" type="submit">Adicionar</button>
              </footer>
            </section>
          </div>
        </div>
      </div>
    </form>
  </body>

</html>